<!--
     Copyright (C) 2023 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sun.camera2.overlay.mondrian">
    <overlay android:targetPackage="org.sun.camera2"
                   android:isStatic="true"
                   android:priority="700"/>
</manifest>
